<!-- Port Durumları ve Sistem Verileri -->
<div class="info-container">
  <div class="port-status">
    <h1>CİHAZ NUMARASI:{{ system?.deviceNo }}</h1>
    <h3>PORT BİLGİLERİ</h3>
    <div class="port-indicators">
      <div
        *ngFor="let port of ports"
        class="port-indicator"
        [ngClass]="{
          up: port.portStatus === 'Up',
          down: port.portStatus === 'Down'
        }"
      >
        {{ port.interface }}
      </div>
    </div>
  </div>
  <div class="system-data">
    <h3>SİSTEM VERİLERİ</h3>
    <table *ngIf="system">
      <thead>
        <tr>
          <th>ID</th>
          <th>Device No</th>
          <th>Time</th>
          <th>SysDescr</th>
          <th>SysName</th>
          <th>SysUpTime</th>
          <th>SysLocation</th>
          <th>SysServices</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{ system.systemId }}</td>
          <td>{{ system.deviceNo }}</td>
          <td>{{ system.time | date : "short" }}</td>
          <td>{{ system.sysDescr }}</td>
          <td>{{ system.sysName }}</td>
          <td>{{ system.sysUpTime }}</td>
          <td>{{ system.sysLocation }}</td>
          <td>{{ system.sysServices }}</td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="!system">Sistem verisi yükleniyor...</div>

    <!-- Button Group -->
    <div class="button-group">
      <p-button
        label="TCP"
        [text]="true"
        [raised]="true"
        (click)="addChart(['tcp'])"
        severity="primary"
      ></p-button>
      <p-button
        label="UDP"
        [text]="true"
        [raised]="true"
        (click)="addChart(['udp'])"
        severity="secondary"
      ></p-button>
      <p-button
        label="SNMP"
        [text]="true"
        [raised]="true"
        (click)="addChart(['snmp'])"
        severity="success"
      ></p-button>
      <p-button
        label="IP"
        [text]="true"
        [raised]="true"
        (click)="addChart(['ip'])"
        severity="info"
      ></p-button>
      <p-button
        label="ICMP"
        [text]="true"
        [raised]="true"
        (click)="addChart(['icmp'])"
        severity="warning"
      ></p-button>
      <p-button
        label="INTERFACE"
        [text]="true"
        [raised]="true"
        (click)="addChart(['interface'])"
        severity="help"
      ></p-button>
      <p-button
        label="Syslog"
        [text]="true"
        [raised]="true"
        (click)="addSyslogTable()"
        severity="info"
      ></p-button>
    </div>
  </div>
</div>

<!-- Interface Table ve Grafikler -->
<div class="flex-container">
  <div class="interface">
    <p-table [value]="interfaceTable">
      <ng-template pTemplate="header">
        <tr>
          <th>IF Index</th>
          <th>IF Description</th>
          <th>IF Physical Address</th>
          <th>IF Last Change</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-interface>
        <tr>
          <td>{{ interface.ifIndex }}</td>
          <td>{{ interface.ifDescr }}</td>
          <td>{{ interface.ifPhysAddress }}</td>
          <td>{{ interface.ifLastChange }}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="charts-container">
    <div *ngFor="let chart of charts; let i = index" class="chart-card">
      <p-chart
        type="line"
        [data]="chart.chartData"
        [options]="chartOptions"
      ></p-chart>
    </div>
  </div>
</div>

<style>
  ::ng-deep .button-group {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-top: 10px;
  }

  ::ng-deep .button-group .p-button {
    border-radius: 25px !important;
    width: 132px;
    height: 40px;
    background-color: rgba(94, 144, 238, 0.5);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s, box-shadow 0.2s;
  }

  ::ng-deep .button-group .p-button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
  }

  .info-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  @media (min-width: 768px) {
    .info-container {
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .port-status {
    flex: 1;
  }

  .port-status h1 {
    margin: 0 auto;
    background-color: #f2f2f2;
    width: 100%;
    height: 75px;
    text-align: center;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

  .port-status h3 {
    text-align: center;
    margin: 0;
  }

  .port-indicators {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
  }

  .port-indicator {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    font-weight: bold;
  }

  .port-indicator.up {
    background-color: rgb(66, 78, 250);
  }

  .port-indicator.down {
    background-color: rgb(248, 33, 33);
  }

  .system-data {
    flex: 2;
  }

  .system-data h3 {
    text-align: center;
    margin: 0;
  }

  .system-data table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
  }

  .system-data th,
  .system-data td {
    border: 1px solid #ddd;
    padding: 8px;
  }

  .system-data th {
    background-color: #f2f2f2;
    text-align: center;
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
  }

  .interface {
    flex: 1;
    width: 100%;
    max-width: 630px; /* Tabloyu küçük bir alanda sınırlamak için */
    margin-right: 20px; /* Grafikleri soldan ayırmak için */
  }

  .interface p-table {
    border-collapse: collapse;
    width: 100%;
  }

  .interface th,
  .interface td {
    border: 1px solid #ddd;
    padding: 4px;
  }

  .interface th {
    background-color: #f2f2f2;
    text-align: center;
  }

  .charts-container {
    flex: 2;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
    margin-left: 50px;
  }

  .chart-card {
    width: 100%;
    max-width: 1100px; /* Grafikleri geniş bir alana yaymak için */
  }
</style>
